body {
    background-color: #fff9c4; /* Màu vàng nhạt */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.letter-card {
    transition: transform 0.3s;
    border-radius: 20px !important;
    cursor: pointer;
}

.letter-card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #ff5722;
    font-weight: bold;
}